* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body{
    background-color: #ffe4e4;
    /*background-color: #2596be;*/
}
.animation_0{
    background-image: url(ani_3.gif);
    height: 350px;
    width: 490px;
    background-repeat: no-repeat;
    margin-top: 185px;
    margin-left: 645px;
    position: fixed;
    z-index: 10;
}
.img_1{
    position: fixed;
    background-size: contain;
    background-image: url(ani_12.gif);
    height: 220px;
    width: 220px;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: -5px;
}
.img_2{
    position: fixed;
    background-size: contain;
    background-image: url(ani_12.gif);
    height: 220px;
    width: 220px;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 1490px;
}
.img_3{
    position: fixed;
    background-size: contain;
    background-image: url(ani_12.gif);
    height: 220px;
    width: 220px;
    background-repeat: no-repeat;
    margin-top: 580px;
    margin-left: -5px;
}
.img_4{
    position: fixed;
    background-size: contain;
    background-image: url(ani_12.gif);
    height: 220px;
    width: 220px;
    background-repeat: no-repeat;
    margin-top: 580px;
    margin-left: 1490px;
}
.btn_0{
    position: fixed;
    margin-top: 460px;
    margin-left: 710px;
    padding: 15px 32px;
    font-family: cursive;
    border-radius: 20px 20px;
    transition: .5s ease;
    font-size: 15px;
    background-color: pink;
    opacity: 65%;
    z-index: 100;
}
.btn_0:hover{
    opacity: 100%;
}
p{
    position: fixed;
    margin-top: 468px;
    margin-left: 795px;
    font-size: 27px;
    font-family: cursive;
    opacity: 0%;
    transition: ease .6s;
}
h2{
    font-size: 40px;
    margin-top: 600px;
    margin-left: 650px;
    position: fixed;
}
